<h1>Articles</h1>
<br>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <% @articles.each do |article |%>
        <tr>
            <td><%=article.id%></td>
            <td><%=article.title%></td>
            <td><%=article.description%></td>
            <td>Edit Button</td>
            <td>Delete Button</td>
        </tr>
    <% end %>
</table>