
  <div class="container" id="home-container">
  <div class="jumbotron text-center text-white" id="homeJumbotron">
    <h1>Alpha Blog</h1>
    <p>
      This is an alpha blog being developed as part of a ruby on rails course
    </p>
    <br/>
    <a class='btn btn-primary btn-lg' href="#" role="button">This button does nothing</a>
  </div>
</div>

